/* round buttons */

button {
	
	background-color: rgb(180, 60, 122);
	color: wheat;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 25px;
	font-size: 1em;
	height: auto;
	width: auto;
	position: relative;
}

button:hover {
	color: rgb(159, 151, 151);
	border: 2px solid var(--clrbase);
}

button .clear-btn {
	background-color: rgb(144, 134, 144);
	cursor: pointer;

	font-size: 1em;
	padding: 0.625em 1.625em;

	position: absolute
}

